.btn {
    display: inline-block;
    text-decoration: none;
    color: var(--secondary-text-color);
    font-size: 15px;
    border: 2px solid var(--secondary-text-color);
    padding: 12px 26px;
    line-height: 1.5;
    border-radius: 0.25rem;
    letter-spacing: 1px;
    background-color:  rgba(255, 255, 255, 0);
    transition: all 0.5s;
    font-family: var(--p-font);
    text-transform: capitalize;
}

    .btn:hover {
        color: #000;
        background-color: #fff;
        cursor: pointer;
    }
