        .clients {
        background-color: grey;
        background-image: url(../../img/OurClient.jpg);
        background-attachment: scroll;
        background-position: center center;
        background-size: cover; 
        position: relative;
        text-align: center; 
    }
    .container.clients::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        background: var(--dark-overlay);
    }