   
    .clients {
        background-color: grey;
        background-image: url(../../img/OurClient.jpg);
        background-attachment: scroll;
        background-position: center center;
        background-size: cover; 
        position: relative;
        text-align: center;
        color: var(--primary-color);
        
        }

       
        .clients::before {
        content: "";
        background: var(--dark-overlay);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;  
        }
        .clients > .row {
        z-index: 1;    
        }
    
        .client {
            display: inline-block;
            color: var(--primary-color);
             font-family: var(--header-font);
            margin-bottom: -15px;
            font-weight: 500;
            line-height: 1.2;
            font-size: 30px;
            text-align: center;
        }
            .client > span {
            font-family: var(--header-font);
            font-weight: 700;
        }

    .pastimonial {
        margin-top: -20px;
        font-family: var(--p-font);
        color: var(--primary-color);
        font-size: 17px;
        text-align: center;
    }

     .testimonials {
        display: inline-block;
        width: 100%;

    }
     .testimonials > .view {
            display: inline-block;
            width: 100%;

        }
         .testimonials > .view > .list {
                display: inline-block;
                width: 100%;

            }
                .testimonials > .list > .item {
                    display: inline-block;
                    width: 100%;
                    padding: 0 80px;
                    text-align: center;

                }
            

                .testimonials .avatar {

                    display: inline-block;
                    font-size: 60px;
                }
               
                .testimonials .name {
                        display: inline-block;
                        width: 100%; 
                        font-size: 30px;
                        

        
                    }

                    
                        
                    .testimonials .company {
                        display: inline-block;
                        width: 100%;
                    
                    }
                    .testimonials  .description {
                        display: inline-block;
                        width: 100%;
                       

                    }
                   .testimonials > .controls {
                display: inline-block;
                width: 100%;
                text-align: center;
                

            }
            .testimonials .controls .minus {
                display: inline-block;
                width: 20px;
                height: 6px;
                border-radius: 30%;
                margin: 30px 1px 0 4px;
                background-color: var(--primary-color);
                opacity: 0.5;

            }

            .testimonials .controls .minus:hover {
                    opacity: 0.75;

                }
                .testimonials .controls .minus.active {
                    opacity: 1;

                }
               

 
