:root {
    --section-padding: 80px;
    --primary-color: #fff;
    --secondary-color: #f8f9fa;
    --main-text-color: #212529;
    --secondary-text-color: #fff;
    --light-text-color: #6c757d;
    --font-family: Roboto,"Helvetica Neue",Arial,sans-serif;
}